<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task</title>
</head>
<body>
<table border="1" style="width: 70%; border-collapse: collapse;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Mô tả</th>
        <th>Trạng thái</th>
        <th>User Name</th>
        <th>Ngày tạo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${listT}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.moTa}"></td>
        <td th:text="${task.trangThai ? 'Hoàn thành' : 'Đang làm'}"></td>
        <td th:text="${task.users.username}"></td>
        <td th:text="${#temporals.format(task.ngayTao, 'dd/MM/yyyy')}"></td>
        <td>
            <a th:href="@{/task/detail/{id}(id=${task.id})}">Sửa</a>
            <a th:href="@{/task/delete/{id}(id=${task.id})}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>